.addButton {
  position: absolute;
  margin: 0;
  text-align: center;
  bottom: -0.3rem;
  right: 0;
  transform: translateX(1.5rem);
  transition: 0.5s;
  font-size: 2.5rem;
  color: black;
}
.minusButton {
  position: absolute;
  margin: 0;
  left: 0;
  top: -0.6rem;
  text-align: center;
  transform: translateX(-1.5rem);
  transition: 0.5s;
  font-size: 2.5rem;
  color: black;
}
.favourite{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(3rem);
  font-size: 2rem;
  color: rgba(8, 112, 160, 0.37);
  cursor: pointer;
  transition: 0.5s;
}

