@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: auto;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
input {
  outline: none;
  border-radius: 0.5rem;
  border: none;
  padding: 0.4rem 0.6rem;
  background: rgba(255, 255, 255, 0.603);
  color: black;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: bold;
  box-shadow: 0px 0px 10px 2px black;
  transition: 0.5s;
}
input:hover {
  box-shadow: none;
}
button {
  cursor: pointer;
  border: none;
  overflow: hidden;
}

.hiddenSpan {
  position: absolute;
  border-radius: 1rem;
  text-align: start;
  cursor: auto;
  transition: 0.5s;
  font-weight: bold;
  right: 0;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 0.5rem;
}
.dictionary::-webkit-scrollbar-thumb {
  background: white;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: black;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}
